.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;

  &__item {
    margin-top: 30px;
    background: #f8f8f8;
    width: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-transform: uppercase;
      font-size: 1em;
      margin: 0px;
      border-bottom: 1px solid #c6c6c6;
      padding: 10px 10px;
    }

    button {
      background: #00b347;
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25),
        4px 4px 10px rgba(0, 0, 0, 0.2);
      margin-top: 20px;
      padding: 0px;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
    }

    p {
      text-align: center;
      font-size: 14px;
    }

    input {
      padding: 10px 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__btn-search {
      background: black;
      color: white;
      text-transform: uppercase;
      width: 80px;
      margin-top: 20px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25),
        4px 4px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      padding: 0px;
    }
  }
}
